.logo {
  font-family: var(--cursiveFont);
  font-size: 1.5rem;
  margin: 1rem;
  color: white;
  background-color: black;
  padding: 0.3rem;
  border-radius: 10px;
}

.catimg {
  height: 4rem;
  width: auto;
  margin-bottom: 0.5rem;
}

.flexContainerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white !important;
  position: sticky;
  top: 0;
  z-index: 50;
}

.flexContainerRowRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.welcomeText {
  font-family: var(--cursiveFont);
  font-size: 1.25rem;
  margin-left: 1rem;
  color: var(--black) !important;
}

.link {
  text-decoration: none;
  color: var(--offwhite);
}

.changeColorBtn {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  color: var(--black) !important;
}

@media (max-width: 900px) {
  .flexContainerRowRight {
    margin-right: 2rem;
  }
  .changeColorBtn {
    font-size: 1.5rem;
    margin-right: 0;
  }
}

/* Xsmall Screens */
@media (max-width: 600px) {
  .flexContainerRow {
    flex-direction: column;
  }

  .flexContainerRowRight {
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .logo {
    margin-bottom: 0;
  }

  .welcomeText {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 0;
  }
}
