.logo {
  font-family: "Inconsolata", sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
  color: white;
  background-color: black;
  padding: 0.5rem;
}

.arrow {
  height: 4rem;
  width: auto;
}

.flexContainerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white !important;
  position: sticky;
  top: 0;
  z-index: 50;
}

.flexContainerRowRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 11rem;
}

.skewedArrow {
  height: 3rem;
  width: auto;
  margin-right: 2rem;
}

.welcomeText {
  margin-left: 1rem;
  color: black !important;
}

.link {
  text-decoration: none;
  color: white;
}

.changeColorBtn {
  font-size: 3rem;
  margin-right: 1rem;
  cursor: pointer;
  color: black !important;
}

@media (min-width: 600px) and (max-width: 992px) {
  .skewedArrow {
    display: none;
  }

  .flexContainerRowRight {
    margin-right: 2rem;
  }
}

/* Xsmall Screens */
@media (max-width: 600px) {
  .skewedArrow {
    display: none;
  }

  .flexContainerRowRight {
    margin-right: 0;
  }

  .logo {
    font-family: "Inconsolata", sans-serif;
    font-size: 1rem;
    margin: 0.8rem;
    color: white;
    background-color: black;
    padding: 0.3rem;
  }

  .changeColorBtn {
    font-size: 2.8rem;
    padding: .5rem;
  }

  .arrow {
    height: 3rem;
    width: auto;
  }

  .welcomeText {
    display: none;
  }
}