.mainContainer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekday {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.currentMonth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  width: 7rem;
}

.dateContainer {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  color: black !important;
}

.progressIconsWrapper {
  display: flex;
}

.today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black !important;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: white;
  border: 2px solid #ff8c00;
  border-radius: 50px;
  margin: 1rem 1rem;
}

.calendarContainer {
  display: grid;
  width: 84vw;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  height: 68vh;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 0.5rem;
  background-color: rgb(241, 240, 240);
}

.calendarContainer > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inconsolata;
}

.closebtn {
  height: 3rem;
  width: auto;
  padding: 0.75rem;
  margin-left: auto;
}

.closebtn:hover {
  cursor: pointer;
}

.weekday {
  background: rgba(0, 0, 0, 0.623);
  color: white;
}

#monday {
  border-top-left-radius: 9px;
}

.saturday {
  background: linear-gradient(to right, #40e0d0, #ff8c00) !important;
  color: white;
}

.sunday {
  background: linear-gradient(to right, #ff8c00, #ff0080) !important;
  color: white;
  border-top-right-radius: 9px;
}

.arrow {
  font-size: 2rem;
  cursor: pointer;
  padding: 0 0.4rem 0.1rem 0.4rem;
}

.arrow:hover {
  color: white;
  background: rgb(31, 31, 31);
  border-radius: 50%;
  transition-property: background, color;
  transition-duration: 0.5s;
}

.heading {
  font-family: "Montserrat", "sans-serif";
  font-size: 1.5rem;
  color: white;
  background: rgb(24, 24, 24);
  padding: 0.4rem 0.8rem;
  margin-left: 2rem;
  border-radius: 10px;
}

.subheading {
  font-family: "Montserrat", "sans-serif";
  font-size: 1rem;
  color: white;
  background: rgba(24, 24, 24, 0.425);
  padding: 0.4rem 0.6rem;
  margin-left: 1rem;
}

.leftArrow {
  font-size: 3rem;
  font-weight: bold;
  color: rgba(24, 24, 24, 0.808);
  margin-left: 0.8rem;
}

.notDoneContainer,
.inProgressContainer,
.doneContainer {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 1.2rem 0.5rem 0.5rem 1.2rem;
}

.headerContainer {
  width: 70%;
  border-bottom: 1px solid black;
  margin: 0 1rem;
  font-size: 1rem;
  padding-bottom: 0.4rem;
  color: black !important;
}

.icon {
  height: 1.2rem;
  width: auto;
  cursor: pointer;
}

.progressIcons {
  height: 0.8rem;
  width: auto;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.checkboxIcon {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.452);
}

.todo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
  margin: 0.25rem 6rem 0 3rem;
  padding: 0.5rem 0 0.25rem 0.5rem;
  color: black !important;
}

.todoWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow-wrap: normal;
}

.mainWrapper {
  display: flex;
}

.deleteButton {
  height: 1.2rem;
  width: auto;
  margin: 0 0.4rem;
  cursor: pointer;
}

/* Modal */
.modalMainContainer {
  display: flex;
  color: black !important;
}

.closingButton {
  height: 1.5rem;
  width: auto;
}

.closingButton:hover {
  cursor: pointer;
  outline: none !important;
  border-radius: 50px;
  box-shadow: 0 0 3px #5e5e5e;
}

.deleteButton {
  height: 1.2rem;
  width: auto;
  margin: 0 0.4rem;
  cursor: pointer;
}

.addToDoForm {
  width: 100%;
}

.modal {
  background-color: white;
  width: 30rem;
  z-index: 10000;
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid black;
}

.overlay {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.315);
}

.btn {
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 10px;
  margin-left: auto;
  font-family: "inconsolata", monospace;
  font-size: 1rem;
  color: white;
  background-color: slateblue;
  cursor: pointer;
  font-size: 1.1rem;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.btn:focus,
.modal:focus {
  outline: none !important;
  -webkit-box-shadow: 6px 6px 18px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 18px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 18px -10px rgba(0, 0, 0, 0.75);
}

.formGroupContainer input {
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.formGroupContainer label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  margin: 3rem 0 0.5rem 0;
}

@media (max-width: 900px) {
  .mainContainer {
    margin-top: 1.5rem;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    margin-bottom: 5rem;
    margin-top: 0.5rem;
  }
  .weekday {
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 0.75rem;
  }

  .heading {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }

  .subheading {
    font-size: 0.75rem;
    margin-left: 0.5rem;
    padding: 0.2rem 0.4rem;
  }

  .leftArrow {
    font-size: 2rem;
  }

  .today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0.25rem;
  }

  .calendarContainer {
    width: 100vw;
    border-radius: 0;
  }

  .sunday {
    border-top-right-radius: 0;
  }

  #monday {
    border-top-left-radius: 0;
  }

  .todo {
    margin: 0.25rem 3rem 0 3rem;
    padding: 0.25rem 0 0.25rem 0.25rem;
  }

  .todoWrapper > p {
    font-size: 0.9rem;
  }

  .checkboxIcon {
    width: 0.9rem;
    height: 0.9rem;
  }

  .deleteButton {
    height: 1rem;
    width: auto;
    margin: 0 0.4rem;
    cursor: pointer;
  }

  .icon {
    height: 1rem;
    margin-bottom: 0.3rem;
  }

  .progressIcons {
    height: 0.65rem;
    width: auto;
  }
}

@media (max-width: 450px) {
  .weekday {
    font-size: 0.5rem;
  }
}
