.mainContainer {
  font-family: var(--cursiveFont);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekday {
  font-weight: bold;
}

.month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.currentMonth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  width: 7rem;
}

.dateContainer {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  color: var(--black) !important;
}

.progressIconsWrapper {
  display: flex;
}

.today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black) !important;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: 2px solid var(--darkgray);
  border-radius: 50px;
  margin: 0.5rem;
}

.calendarContainer {
  display: grid;
  width: 84vw;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  height: 68vh;
  /* border: var(--border); */
  border-radius: 10px;
  margin-top: 0.5rem;
  background-color: var(--offwhite);
}

.calendarContainer > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--cursiveFont);
  font-size: 1.1rem;
}

.closebtn {
  height: 3rem;
  width: auto;
  padding: 0.75rem;
  margin-left: auto;
}

.closebtn:hover {
  cursor: pointer;
}

.weekday {
  background: var(--darkgray);
  color: var(--offwhite);
}

#monday {
  border-top-left-radius: 9px;
}

.saturday {
  background: var(--mediumpurple);
  color: var(--offwhite);
}

.sunday {
  background: var(--mediumpurple);
  color: var(--offwhite);
  border-top-right-radius: 9px;
}

.arrow {
  font-size: 2rem;
  cursor: pointer;
  padding: 0 0.4rem 0.1rem 0.4rem;
}

.arrow:hover {
  color: var(--offwhite);
  background: var(--darkgray);
  border-radius: 50%;
  transition-property: background, color;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-family: var(--cursiveFont);
  font-size: 1.55rem;
  color: var(--offwhite);
  background: var(--darkgray);
  margin-left: 2rem;
  border-radius: 10px;
}

.subheading {
  font-size: 1rem;
  margin-left: 1rem;
  color: var(--darkgray);
}

.leftArrow {
  font-size: 2rem;
  font-weight: bold;
  color: var(--darkgray);
  margin-left: 0.8rem;
}

.notDoneContainer,
.inProgressContainer,
.doneContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
}

.headerContainer {
  width: 80%;
  border-bottom: var(--border);
  margin: 0 1rem;
  font-size: 1rem;
  padding-bottom: 0.4rem;
  color: var(--black) !important;
}

.icon {
  height: 1.2rem;
  width: auto;
  cursor: pointer;
}

.progressIcons {
  margin-top: 0.1rem;
  margin-right: 0.1rem;
  height: 0.8rem;
  width: auto;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.checkboxIcon {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: var(--transparentLightGray);
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 2.25rem 0.25rem 2.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--lightgray);
  font-family: var(--regularFont);
  font-size: 0.9rem;
}

.todoWrapper {
  display: flex;
  cursor: pointer;
  overflow-wrap: normal;
  align-items: center;
  justify-content: center;
  color: var(--darkgray);
}

.mainWrapper {
  display: flex;
}

/* Modal */
.modalMainContainer {
  display: flex;
  color: var(--black) !important;
}

.closingButton {
  height: 1.5rem;
  width: auto;
}

.closingButton:hover {
  cursor: pointer;
  outline: none !important;
  border-radius: 50px;
  box-shadow: var(--boxShadow);
}

.deleteButton {
  height: 1rem;
  width: auto;
  margin: 0 0.4rem;
  cursor: pointer;
}

.addToDoForm {
  width: 100%;
}

.modal {
  background-color: var(--offwhite);
  width: 25rem;
  z-index: 10000;
  padding: 2rem;
  border-radius: 2rem;
  border: var(--border);
}

.overlay {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.315);
}

.btn {
  padding: 0.5rem 0.6rem;
  margin-left: auto;
  font-family: var(--regularFont);
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--offwhite);
  background-color: var(--purple);
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.btn:focus,
.modal:focus {
  outline: none !important;
  -webkit-box-shadow: var(--boxShadow);
  -moz-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}

.formGroupContainer {
  width: 100%;
  margin-top: 2rem;
}

.formGroupContainer input {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  font-family: var(--cursiveFont);
  width: 100%;
  border: var(--border);
  color: var(--darkgray);
  border-radius: 10px;
  margin-top: 1rem;
}

.formGroupContainer label {
  font-family: var(--cursiveFont);
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 3rem;
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .mainContainer {
    padding-top: 0;
    margin-bottom: 3rem;
  }

  .calendarContainer > * {
    font-size: 1rem;
  }

  .modal {
    width: 27.5rem;
    padding: 1.8rem;
  }
}

@media (max-width: 900px) {
  .mainContainer {
    margin-top: 2.5rem;
  }
}

@media (max-width: 600px) {
  .notDoneContainer,
  .inProgressContainer,
  .doneContainer {
    margin: 1rem 1rem;
  }

  .weekday {
    font-size: 0.75rem;
  }

  .heading {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
    margin-left: 1rem;
  }

  .subheading {
    font-size: 0.75rem;
    margin-left: 0.5rem;
    padding: 0.2rem 0.4rem;
  }

  .leftArrow {
    font-size: 1.5rem;
  }

  .today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0.25rem;
  }

  .calendarContainer {
    width: 100vw;
    border-radius: 0;
  }

  .calendarContainer > * {
    font-size: 0.9rem;
  }

  .sunday {
    border-top-right-radius: 0;
  }

  #monday {
    border-top-left-radius: 0;
  }

  .todo {
    margin: 0.5rem 1rem 0.25rem 1rem;
    padding-bottom: 0.3rem;
    font-size: 0.8rem;
  }

  .checkboxIcon {
    width: 0.9rem;
    height: 0.9rem;
  }

  .icon {
    height: 1rem;
    margin-bottom: 0.3rem;
  }

  .progressIcons {
    height: 0.65rem;
    width: auto;
  }

  .modal {
    width: 20rem;
    padding: 1.25rem;
  }

  .closingButton {
    height: 1.25rem;
  }
}

@media (max-width: 450px) {
  .weekday {
    font-size: 0.7rem;
  }
}
