:root {
  --black: #313131;
  --crimson: #ed1d24;
  --yellow: #d8be54;
  --pink: #da29ac;
  --purple: #8d09f7;
  --indigo: #5e2bff;
  --darkviolet: #8d09f7;
  --mediumpurple: #9381ff;
  --transparentmediumpurple: #9481ff17;
  --candypink: #ff70a6;
  --darkgray: #535353;
  --midGray: #838383;
  --lightgray: #e0e0e0;
  --transparentLightGray: #e6e4e4d2;
  --offwhite: #f3f3f1;
  /* --offwhite: #fbfbf8; */
  --regularFont: "Montserrat", sans-serif;
  --headingFont: "Comfortaa", cursive;
  --cursiveFont: "Schoolbell", cursive;
  --boxShadow: 6px 6px 18px -10px rgba(0, 0, 0, 0.75);
  --border: 1px solid var(--black);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--regularFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark-bg {
  background-color: #313131;
  color: white;
  fill: white;
  stroke: white;
}
