.button {
  padding: 0.5rem 0;
  border: 1px solid black;
  margin-right: 2rem;
}

.link {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.link:hover {
  background-color: rgb(224, 224, 224);
  transition-duration: 0.5s;
  font-weight: bold;
}

.button:hover {
  background-color: rgb(224, 224, 224);
  transition-duration: 0.5s;
}

/* Xsmall Screens */
@media (max-width: 600px) {
  .button {
    padding: 0.4rem 0;
    margin-right: 1rem;
  }

  .link {
    padding: 0.55rem 0.5rem 0.4rem 0.4rem;
    font-size: 0.9rem;
  }
}