.mainContainer {
  font-family: var(--cursiveFont);
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 12rem;
  margin-top: 4rem;
}

.headingContainer {
  width: 38%;
  border-bottom: 2px solid var(--black);
  margin-bottom: 2rem;
}

:global(.dark-bg) .headingContainer {
  border-bottom: 2px solid var(--offwhite);
}

.checkboxInput {
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
}

.heading {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.5rem 0.6rem;
  margin-left: auto;
  font-family: var(--regularFont);
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--offwhite);
  background-color: var(--purple);
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.formGroupContainer {
  display: flex;
  margin-bottom: 0.3rem;
}

.marginBottom {
  margin-bottom: 1rem;
}

.formGroupContainer input {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  font-family: var(--cursiveFont);
  font-weight: bold;
  width: 80%;
  border: var(--border);
  color: var(--darkgray);
  border-radius: 10px;
}

.formGroupContainer label {
  font-family: var(--regularFont);
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: 20%;
  margin-right: 3rem;
}

input:focus,
.btn:focus,
.modal:focus {
  outline: none !important;
  -webkit-box-shadow: var(--boxShadow);
  -moz-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}

.subTextContainer {
  display: flex;
  margin-bottom: 2rem;
  justify-content: flex-end;
  align-items: center;
}

.subText {
  font-size: 0.9rem;
  width: 70%;
}

.modalText {
  color: var(--purple);
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
}

.modal {
  background-color: var(--offwhite);
  z-index: 10000;
  padding: 2.5rem 2.5rem 2.5rem 3.5rem;
  border-radius: 2rem;
  border: var(--border);
}

.overlay {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.315);
}

.modalMainContainer {
  display: flex;
  color: var(--black) !important;
}

.submitModalContainer {
  display: flex;
  align-items: center;
}

.closingButton {
  height: 2rem;
  width: auto;
}

.birbImage {
  height: 2.5rem;
  width: auto;
  margin-right: 1rem;
}

.closingButton:hover {
  cursor: pointer;
  outline: none !important;
  border-radius: 50px;
  box-shadow: var(--boxShadow);
}

.closingButtonContainer {
  margin-left: 1rem;
}

.magnifyingGlass {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--black);
  border-radius: 20px;
  margin: 0 0.5rem;
}

.magnifyingGlass:hover {
  cursor: pointer;
}

.magnifyingGlassActive {
  background-color: var(--transparentLightGray);
}

@media (max-width: 1400px) {
  .formGroupContainer input {
    width: 75%;
  }

  .formGroupContainer label {
    width: 25%;
    margin-right: 2.5rem;
  }
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 992px) {
  .heading {
    font-size: 1.5rem;
  }
  .mainContainer {
    width: 60%;
  }
}

/* Small Screens */
@media (min-width: 600px) and (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }
  .mainContainer {
    width: 70%;
    margin: auto;
    padding-top: 3rem;
  }
}

/* Xsmall Screens */
@media (max-width: 600px) {
  .mainContainer {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
  }

  .heading {
    font-size: 1.25rem;
  }

  .headingContainer {
    width: 40%;
    border-bottom: 0.09rem solid var(--black);
    margin-bottom: 1.5rem;
  }

  .formGroupContainer label {
    font-size: 0.9rem;
    margin-right: 1rem;
  }

  .formGroupContainer input {
    padding: 0.4rem;
    font-size: 0.8rem;
    width: 70%;
    border: var(--border);
  }

  .subText {
    font-size: 0.75rem;
    width: 70%;
  }

  .btn {
    font-family: var(--regularFont);
    font-weight: bold;
    font-size: 0.9rem;
  }
}
