.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 90vh;
  padding: 1.5rem 3rem;
  margin: 0.5rem 3rem 5rem 3rem;
  border-radius: 10px;
  background-color: rgba(185, 185, 185, 0.26);
  overflow-y: auto;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.8rem;
}

.flexContainerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.dataContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.data {
  margin-right: 1rem;
}

.tempData:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  font-weight: bold;
  font-size: 1.05rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
  margin-top: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

.todoWrapper {
  display: flex;
  cursor: pointer;
  overflow-wrap: normal;
}

.bgBlack {
  background-color: var(--black);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 10px;
  font-family: var(--headingFont);
}

.date {
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

.day {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
  background: var(--lightgray);
  border-radius: 10px;
  text-align: center;
  width: 6rem;
}

.addIcon {
  height: 2rem;
  width: auto;
  margin-top: 0.5rem;
  cursor: pointer;
}

.weatherIcon {
  height: 1rem;
  width: auto;
  margin-right: 0.5rem;
}

.locationIcon {
  height: 1.2rem;
  width: auto;
  margin-right: 0.5rem;
}

.checkboxIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.452);
}

/* Modal */
.modalMainContainer {
  display: flex;
  color: var(--black) !important;
}

.closingButton {
  height: 1.5rem;
  width: auto;
}

.closingButton:hover {
  cursor: pointer;
  outline: none !important;
  border-radius: 50px;
  box-shadow: var(--boxShadow);
}

.deleteButton {
  height: 1.2rem;
  width: auto;
  margin: 0 0.4rem;
  cursor: pointer;
}

.addToDoForm {
  width: 100%;
}

.modal {
  background-color: var(--offwhite);
  width: 30rem;
  z-index: 10000;
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid var(--black);
}

.overlay {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.315);
}

.btn {
  padding: 0.5rem 1rem;
  margin-left: auto;
  margin-top: 1.5rem;
  border: none;
  border-radius: 10px;
  font-family: var(--regularFont);
  font-size: 1.1rem;
  color: var(--offwhite);
  background-color: var(--purple);
  cursor: pointer;
  font-size: 1.1rem;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.btn:focus,
.modal:focus {
  outline: none !important;
}

.formGroupContainer input {
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  border: var(--border);
  border-radius: 10px;
}

.formGroupContainer label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  margin: 3rem 0 0.5rem 0;
}

@media (max-width: 1450px) {
  .dataContainer {
    flex-direction: column;
    font-size: 0.9rem;
  }
  .addIcon {
    margin-top: 0;
  }
}

@media (max-width: 1300px) {
  .date {
    font-size: 2rem;
  }

  .mainContainer {
    height: 90vh;
    margin: 0.5rem 1.5rem 5rem 1.5rem;
    padding: 1.5rem 2rem;
  }

  .addIcon {
    margin-top: 0.5rem;
  }
}

@media (max-width: 1200px) {
  .mainContainer {
    margin: 1.5rem 4rem 5rem 4rem;
  }

  .modal {
    width: 27.5rem;
    padding: 1.8rem;
  }

  .dataContainer {
    flex-direction: row;
  }
}

@media (max-width: 700px) {
  .mainContainer {
    margin: 1.5rem 2rem 5rem 2rem;
  }

  .modal {
    width: 25rem;
    padding: 1.5rem;
  }

  .dataContainer {
    flex-direction: column;
    font-size: 0.9rem;
  }

  .addIcon {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    margin: 1.5rem 0 5rem 0;
    border-radius: 0;
  }

  .dataContainer {
    flex-direction: column;
    font-size: 0.9rem;
  }

  .addIcon {
    height: 1.5rem;
    margin-top: 0;
  }

  .todo {
    font-size: 0.9rem;
  }

  .todoWrapper > p {
    margin-top: 0.1rem;
  }

  .modal {
    width: 20rem;
    padding: 1.25rem;
  }

  .formGroupContainer label {
    font-size: 0.9rem;
    margin: 3rem 0 0.5rem 0;
  }
  .formGroupContainer input {
    font-size: 0.8rem;
  }
}
