.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 90vh;
  padding: 1.5rem 3rem;
  margin: 0.5rem 3rem 0 3rem;
  border-radius: 10px;
  background-color: rgba(185, 185, 185, 0.26);
  overflow: scroll;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.8rem;
}

.flexContainerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data {
  margin-right: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
  margin-top: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

.todoWrapper {
  display: flex;
  cursor: pointer;
  overflow-wrap: normal;
}

.bgBlack {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.date {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.addIcon {
  height: 2rem;
  width: auto;
  margin-top: 0.5rem;
  cursor: pointer;
}

.weatherIcon {
  height: 1.5rem;
  width: auto;
  margin-right: 0.5rem;
}

.locationIcon {
  height: 1.2rem;
  width: auto;
  margin-right: 0.5rem;
}

.checkboxIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.452);
}

/* Modal */
.modalMainContainer {
  display: flex;
  color: black !important;
}

.closingButton {
  height: 1.5rem;
  width: auto;
}

.closingButton:hover {
  cursor: pointer;
  outline: none !important;
  border-radius: 50px;
  box-shadow: 0 0 3px #5e5e5e;
}

.deleteButton {
  height: 1.2rem;
  width: auto;
  margin: 0 0.4rem;
  cursor: pointer;
}

.addToDoForm {
  width: 100%;
}

.modal {
  background-color: white;
  width: 30rem;
  z-index: 10000;
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid black;
}

.overlay {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.315);
}

.btn {
  padding: 0.5rem 1rem;
  margin-left: auto;
  margin-top: 1.5rem;
  border-radius: 10px;
  font-family: "inconsolata", monospace;
  font-size: 1.1rem;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 1.1rem;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.btn:focus,
.modal:focus {
  outline: none !important;
  border-color: #8d09f7;
  box-shadow: 0 0 5px #8d09f7;
}

.formGroupContainer input {
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.formGroupContainer label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  margin: 3rem 0 0.5rem 0;
}

@media (max-width: 1300px) {
  .bgBlack {
    font-size: 1.5rem;
  }

  .date {
    font-size: 2rem;
  }
}

@media (max-width: 1150px) {
  .mainContainer {
    margin: 1.5rem 4rem 0 4rem;
  }

  .modal {
    width: 27.5rem;
    padding: 1.8rem;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    margin: 1.5rem 2rem 0 2rem;
  }

  .modal {
    width: 25rem;
    padding: 1.5rem;
  }
}
