.logo {
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.5rem;
  margin: 1.2rem;
}

.arrow {
  height: 5rem;
  width: auto;
}

.flexContainerRow {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 4rem;
  right: 0.8rem;
  background-color: #f1f1f1;
  min-width: 5rem;
  box-shadow: 0px 8px 16px 0px rgba(56, 56, 56, 0.2);
  z-index: 1;
}

.dropbtn:hover {
  cursor: pointer;
}

.linkContainer:hover,
.linkContainerBottom:hover {
  background-color: rgba(212, 212, 212, 0.726);
}

.linkContainer {
  padding: 1rem;
  border-bottom: 0.05rem solid black;
  display: flex;
  justify-content: center;
}

.linkContainerBottom {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settingsIcon {
  height: 3rem;
  width: auto;
  margin-right: 2rem;
  margin-top: 2rem;
}