.flexContainer {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.posterAndButtonContainer {
  width: 50%;
  display: flex;
}

.wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
}

.calendarButton {
  width: 4rem;
}

.poster {
  height: 90vh;
  width: auto;
}

.buttonContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}