.mainContainer {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  justify-content: space-between;
}

.wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
}

.flexRowContainer {
  display: flex;
}

.calendarButton {
  width: 4rem;
}

.poster {
  max-height: 90vh;
  max-width: 60vw;
  margin-top: .5rem;
}

.buttonContainer {
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

@media (max-width: 1200px) {
  .posterContainer {
    display: none;
  }

  .wrapper {
    width: 100%;
  }
}