.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  min-width: 4.5rem;
  height: 2rem;
  padding: 0.15rem 0.6rem;
  border: 1px double var(--darkgray);
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
}

.button:hover {
  background-color: var(--lightgray);
}

.button:active {
  color: var(--offwhite);
}

@media (max-width: 600px) {
  .button {
    margin-right: 1rem;
    min-width: 3.5rem;
    padding: 0.3rem 0.4rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .button {
    margin-right: 0.5rem;
  }
}
