.button {
  margin-right: 2rem;
  min-width: 5.5rem;
  padding: 0.5rem 0.7rem;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: black !important;
}

.button:hover,
.button:focus,
.button:active {
  cursor: pointer;
  background-color: rgba(224, 224, 224, 0.527);
  transition-duration: 0.3s;
  font-weight: bold;
  color: black;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .button {
    margin-right: 1rem;
    min-width: 3.5rem;
    padding: 0.3rem 0.4rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .button {
    margin-right: 0.5rem;
  }
}
