.flexContainerColumn {
  color: var(--black) !important;
  font-size: 0.8rem;
  font-family: var(--regularFont);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  padding: 0 0.75rem;
  margin: 0.5rem 0.75rem;
  border: 1px solid var(--black);
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .welcomeText {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .welcomeText {
    font-size: 0.6rem;
  }

  .flexContainerColumn {
    margin: 0.25rem 0.5rem;
  }
}
