.layoutWrapper {
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1300px;
  min-height: 80vh;
  margin: 2rem 3rem 3rem 3rem;
  border-radius: 10px;
  background-color: var(--lightgray);
  color: var(--black);
  overflow-y: auto;
}

.flexContainerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.5rem 2rem;
}

.flexContainerColumnToDo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem 2rem 0 2rem;
}

.flexContainerColumnToDo::last-child {
  border-bottom: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;
  padding: 0.25rem 0 0.5rem 0;
  border-bottom: 1px solid var(--offwhite);
  font-size: 0.9rem;
}

.todoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  overflow-wrap: normal;
  align-items: flex-start;
}

.todoWrapper > p {
  margin-bottom: 0.5rem;
}

.mainWrapper {
  display: flex;
}

.headerContainer {
  text-align: center;
  font-family: var(--cursiveFont);
  font-size: 1.75rem;
  padding: 1rem;
  border-bottom: 1px solid var(--darkgray);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--offwhite);
}

.rules {
  font-size: 0.9rem;
}

.star {
  color: var(--yellow);
  margin-right: 0.25rem;
}

.addIcon {
  height: 2rem;
  width: auto;
  cursor: pointer;
  background-color: var(--offwhite);
  border-radius: 50px;
  transition: 1s;
}

.addIcon:hover {
  background-color: var(--darkgray);
}

.checkboxIcon {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: var(--transparentLightGray);
}

/* Modal */
.modalMainContainer {
  display: flex;
  color: var(--black) !important;
}

.closingButton {
  height: 1.5rem;
  width: auto;
}

.closingButton:hover {
  cursor: pointer;
  outline: none !important;
  border-radius: 50px;
  box-shadow: var(--boxShadow);
}

.deleteButton {
  height: 1rem;
  width: auto;
  margin: 0 0.4rem;
  cursor: pointer;
}

.addToDoForm {
  width: 100%;
}

.modal {
  background-color: var(--offwhite);
  width: 25rem;
  z-index: 10000;
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid var(--darkgray);
}

.overlay {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.315);
}

.btn {
  padding: 0.5rem 0.6rem;
  margin-left: auto;
  font-family: var(--regularFont);
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--offwhite);
  background-color: var(--purple);
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.btn:focus,
.modal:focus {
  outline: none !important;
}

.formGroupContainer {
  width: 100%;
  margin-top: 2rem;
}

.formGroupContainer input {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  font-family: var(--cursiveFont);
  width: 100%;
  border: var(--border);
  color: var(--darkgray);
  border-radius: 10px;
  margin-top: 1rem;
}

.formGroupContainer label {
  font-family: var(--cursiveFont);
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 3rem;
  margin-top: 1rem;
}

.warning {
  font-family: var(--regularFont);
  font-size: 0.9rem;
}

.warning > * {
  margin-top: 0.5rem;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
}

.dropdownContentActive {
  font-family: var(--regularFont);
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 6.2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContentActive p {
  font-size: 0.9rem;
  color: var(--black);
  padding: 0.5rem;
  text-decoration: none;
}

.dropdownContentActive p:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.dropdown:active .dropbtn {
  transition-duration: 0.2s;
  transform: translate(0.1rem, 0.05rem);
  background: #f8f8f8;
}

.dropbtn {
  border: none;
  padding: 0.6rem 0.8rem;
  background: var(--offwhite);
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.dropbtn:focus {
  outline: none;
}

.title {
  font-weight: bold;
  font-family: var(--cursiveFont);
  margin-right: 0.5rem;
}

.dropIcon {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.dropdownContent .active {
  background: var(--darkgray);
  color: var(--offwhite);
}

.dropdownContent .active:hover {
  background: var(--darkgray);
}

/* Date Container */
.dateContainer {
  display: flex;
  justify-content: flex-start;
  font-family: var(--cursiveFont);
  font-size: 0.8rem;
  color: var(--darkgray);
}

.dateContainer p {
  margin-right: 1rem;
}

@media (max-width: 1200px) {
  .addIcon {
    margin-top: 0.5rem;
  }

  .modal {
    width: 27.5rem;
    padding: 1.8rem;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    margin: 2rem 0rem 3rem 0rem;
    border-radius: 0;
  }

  .header {
    font-size: 1.5rem;
  }

  .rules {
    font-size: 0.8rem;
  }

  .addIcon {
    height: 1.5rem;
    margin-top: 0;
  }

  .dropbtn {
    padding: 0.55rem 0.5rem;
    font-size: 0.75rem;
  }

  .todo {
    font-size: 0.75rem;
  }

  .todoWrapper > p {
    margin-top: 0.1rem;
  }

  .dateContainer {
    font-size: 0.75rem;
  }

  .modal {
    width: 20rem;
    padding: 1.25rem;
  }

  .formGroupContainer label {
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }

  .formGroupContainer input {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .dropdownContentActive p {
    font-size: 0.8rem;
    padding: 0.4rem;
  }

  .closingButton {
    height: 1.25rem;
    width: auto;
  }
}
