.mainContainer {
  padding-bottom: 5rem;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

.mainWrapper {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.girlImg {
  width: 30vw;
  height: auto;
}

.questions {
  margin: 2.5rem 0 0 5rem;
}
.mainHeader {
  margin-left: 5rem;
  font-size: 2rem;
  font-weight: bold;
}

.heading {
  border-bottom: 1px solid black;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  width: 23rem;
  font-weight: bold;
}

.checkbox {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 0.2rem;
}

.flexContainerRow p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.flexContainerColumn p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.25rem;
}

.paragraph {
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

.border {
  border: 2px solid black;
  margin-right: 2rem;
  margin-top: 1rem;
}

.link {
  color: black;
  text-decoration-color: black;
}

.link:hover {
  font-weight: bold;
  color: slateblue;
  text-decoration-color: slateblue;
}

.footer {
  color: black !important;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 228, 228);
  border-top: 2px solid black;
}

@media (max-width: 1275px) {
  .questions {
    margin: 1.2rem 2rem 0 2rem;
    font-size: 0.9rem;
  }
}

@media (min-width: 710px) {
  .mainContainer {
    padding-bottom: 7rem;
  }

  .footerText {
    font-size: 0.8rem;
  }
}

@media (min-width: 550px) {
  .mainContainer {
    padding-bottom: 6rem;
  }
}

@media (max-width: 550px) {
  .questions {
    margin: 1.2rem 1rem 0 1rem;
    font-size: 0.9rem;
  }
  .checkbox {
    width: 1rem;
    height: auto;
    margin-right: 0.5rem;
    align-self: flex-start;
  }

  .mainContainer {
    padding-bottom: 8rem;
  }
}
