.mainContainer {
  padding-bottom: 5rem;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

.mainWrapper {
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monsterAndBirdImg {
  max-width: 40vw;
  height: auto;
}

.questions {
  margin: 2.5rem 0 0 5rem;
}

.mainHeaderLargeScreen {
  font-family: var(--cursiveFont);
  margin-left: 5rem;
  font-size: 2rem;
  font-weight: bold;
}

.headerSubTextLargeScreen {
  font-family: var(--cursiveFont);
  font-size: 1.1rem;
  margin: 0.5rem 0 0.2rem 5rem;
}

.mainHeaderSmallScreen,
.headerSubTextSmallScreen {
  display: none;
}

.heading {
  font-family: var(--cursiveFont);
  font-size: 1rem;
  display: inline-block;
  font-weight: bold;
}

.checkbox {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 0.2rem;
}

.flexContainerRow p {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.flexContainerColumn p {
  line-height: 1.25rem;
}

.paragraph {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.border {
  border: 2px solid var(--black);
  margin-right: 2rem;
  margin-top: 1rem;
}

@media (max-width: 1400px) {
  .mainHeaderSmallScreen {
    display: inline;
    font-family: var(--cursiveFont);
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }

  .headerSubTextSmallScreen {
    display: inline;
    font-family: var(--cursiveFont);
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .monsterAndBirdImg {
    max-width: 56vw;
  }

  .mainHeaderLargeScreen,
  .headerSubTextLargeScreen {
    display: none;
  }

  .mainWrapper {
    flex-direction: column;
    padding: 0 4rem;
  }

  .questions {
    margin: 2.5rem 0 1rem 0;
    max-width: 56vw;
  }
}

@media (max-width: 1200px) {
  .mainHeader {
    margin-left: 4rem;
    font-size: 1.75rem;
  }

  .heading {
    font-size: 1.25rem;
  }

  .mainWrapper {
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .questions {
    margin: 0 0 1rem 0;
    max-width: 70vw;
  }

  .mainHeader {
    margin-left: 0;
  }

  .mainWrapper {
    width: 90vw;
  }

  .flexContainerRow p {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  .flexContainerColumn p {
    font-size: 0.85rem;
  }

  .monsterAndBirdImg {
    margin-bottom: 1rem;
    max-width: 70vw;
  }
}

@media (max-width: 700px) {
  .mainHeaderSmallScreen {
    font-size: 1.75rem;
  }

  .headerSubTextSmallScreen {
    font-size: 0.9rem;
  }

  .monsterAndBirdImg {
    max-width: 90vw;
  }

  .questions {
    max-width: 90vw;
  }

  .mainWrapper {
    width: 100vw;
    padding: 0 2.5rem;
  }

  .mainHeader {
    font-size: 1.25rem;
  }

  .heading {
    font-size: 1rem;
  }

  .flexContainerColumn p,
  .flexContainerRow p {
    font-size: 0.85rem;
  }
}

@media (max-width: 400px) {
  .mainHeaderSmallScreen {
    font-size: 1.5rem;
  }

  .headerSubTextSmallScreen {
    text-align: center;
    width: 90vw;
    font-size: 0.65rem;
  }

  .contentWrapper {
    width: 90vw;
  }

  .flexContainerColumn p,
  .flexContainerRow p {
    line-height: 1rem;
    font-size: 0.7rem;
  }
}
