.mainContainer {
  padding-bottom: 5rem;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

.mainWrapper {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monsterAndBirdImg {
  max-width: 40vw;
  height: auto;
}

.questions {
  margin: 2.5rem 0 0 5rem;
}
.mainHeader {
  font-family: var(--cursiveFont);
  margin-left: 5rem;
  font-size: 2rem;
  font-weight: bold;
}

.heading {
  font-family: var(--cursiveFont);
  font-size: 1.25rem;
  display: inline-block;
  font-weight: bold;
}

.checkbox {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 0.2rem;
}

.flexContainerRow p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.flexContainerColumn p {
  font-size: 1rem;
  font-family: var(--regularFont);
  line-height: 1.25rem;
}

.paragraph {
  margin-bottom: 0.2rem;
}

.border {
  border: 2px solid var(--black);
  margin-right: 2rem;
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .mainHeader {
    margin-left: 4rem;
    font-size: 1.75rem;
  }

  .heading {
    font-size: 1.25rem;
  }

  .questions {
    margin: 2.5rem 0 0 4rem;
  }

  .mainWrapper {
    width: 90vw;
  }
}

@media (max-width: 1000px) {
  .mainWrapper {
    flex-direction: column;
    padding: 0 4rem;
  }

  .mainHeader {
    margin-left: 0;
  }

  .questions {
    margin: 2.5rem 0 0 0;
  }

  .mainWrapper {
    width: 90vw;
  }

  .flexContainerRow p {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  .flexContainerColumn p {
    font-size: 0.85rem;
  }

  .monsterAndBirdImg {
    margin-bottom: 2rem;
  }
}

@media (max-width: 700px) {
  .mainWrapper {
    width: 100vw;
    padding: 0 2.5rem;
  }

  .mainHeader {
    font-size: 1.25rem;
  }

  .questions {
    margin: 1.5rem 0 0 0;
  }

  .heading {
    font-size: 1rem;
  }

  .flexContainerRow p {
    font-size: 0.85rem;
  }

  .flexContainerColumn p {
    font-size: 0.85rem;
  }
}

@media (max-width: 400px) {
  .contentWrapper {
    width: 90vw;
    padding-bottom: 2rem;
  }
}
