.mainContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 12rem;
  margin-top: 4rem;

}

.headingContainer {
  width: 40%;
  border-bottom: 2px solid black;
  margin-bottom: 2rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.btn {
  padding: 0.5rem;
  margin-left: auto;
  font-family: 'inconsolata', monospace;
  font-size: 1rem;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 1.1rem;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.formGroupContainer {
  display: flex;
  margin-bottom: 0.3rem;
}

.marginBottom {
  margin-bottom: 1rem;
}

.formGroupContainer input {
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 80%;
  border: 1px solid black;
}

.formGroupContainer label {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  width: 20%;
  margin-right: 3rem;
}

.subText {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

/* Large Screens */
@media (min-width: 992px) and (max-width: 1200px) {}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 992px) {}

/* Small Screens */
@media (min-width: 600px) and (max-width: 768px) {}

/* Xsmall Screens */
@media (max-width: 600px) {}