.mainContainer {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekday {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.month {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.days {
  font-weight: bold;
  cursor: pointer;
}

.calendarContainer {
  display: grid;
  width: 84vw;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  height: 68vh;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 0.5rem;
}

.calendarContainer>* {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inconsolata;
}

.closebtn {
  height: 3rem;
  width: auto;
  padding: 0.75rem;
  margin-left: auto;
}

.closebtn:hover {
  cursor: pointer;
}

.saturday {
  background: linear-gradient(to right, #40e0d0, #ff8c00);
  color: white;
}

.sunday {
  background: linear-gradient(to right, #ff8c00, #ff0080);
  color: white;
  border-top-right-radius: 10px;
}

.arrow {
  font-size: 2rem;
  cursor: pointer;
  padding: 0 .4rem .1rem .4rem;
}

.arrow:hover {
  color: white;
  background: rgb(31, 31, 31);
  border-radius: 50%;
  transition-property: background, color;
  transition-duration: .75s;
}

.heading {
  display: inline-block;
  font-family: Inconsolata;
  font-size: 1.5rem;
  color: white;
  background: rgb(24, 24, 24);
  padding: .4rem .8rem;
  margin-left: 2rem;
  border-radius: 10px;
}

.notDoneContainer,
.inProgressContainer,
.doneContainer {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 1.2rem .5rem .5rem 1.2rem;
}

.headerContainer {
  width: 70%;
  border-bottom: 1px solid black;
  margin: 0 1rem;
  font-size: 1rem;
  padding-bottom: .4rem
}

.icon {
  height: 1.2rem;
  width: auto;
}

@media (max-width: 600px) {
  .weekday {
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 0.75rem;
  }

  .heading {
    font-size: 1.2rem;
    padding: .3rem .6rem;
  }
}

@media (max-width: 450px) {
  .weekday {
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 0.5rem;
  }
}