.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: space-around;
  position: relative;
}

.wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
}

.flexRowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarButton {
  width: 4rem;
}

.poster {
  max-height: 90vh;
  max-width: 60vw;
  margin-top: 0.5rem;
  border-radius: 10px;
}

.posterContainer {
  margin: 0.5rem 0 5rem 3rem;
  border-radius: 10px;
  position: relative;
}

.buttonContainer {
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

.posterText {
  color: white !important;
  position: absolute;
  top: 2rem;
  font-weight: bold;
  padding: 0.4rem;
  background-color: rgb(19, 19, 19);
  left: 1.5rem;
  z-index: 40;
  border-radius: 5px;
}

.credit {
  color: white !important;
  position: absolute;
  font-size: 0.7rem;
  top: 4rem;
  padding: 0.3rem;
  background-color: rgba(19, 19, 19, 0.493);
  left: 1.5rem;
  z-index: 40;
  border-radius: 5px;
}

.credit a {
  text-decoration: none;
  color: white !important;
  font-weight: bold;
}

@media (max-width: 1300px) {
  .posterContainer {
    margin: 0.5rem 0 5rem 1.5rem;
    border-radius: 10px;
    position: relative;
  }
}

@media (max-width: 1200px) {
  .posterContainer {
    display: none;
  }

  .wrapper {
    width: 100%;
  }
}
