.mainContainer {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  justify-content: space-between;
  align-items: space-around;
  position: relative;
}

.flexRowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarButton {
  width: 4rem;
}

.buttonContainer {
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

@media (max-width: 1300px) {
  .flexRowContainer {
    justify-content: flex-start;
  }

  .wrapper {
    width: 100%;
  }
}