.mainContainer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-height: 30rem;
  width: auto;
  border-radius: 20px;
}

.textContainer {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 3rem;
}

.text {
  font-size: 0.9rem;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
}

.emphasis {
  font-family: var(--cursiveFont);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
  background: rgb(20, 20, 20);
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

@media (max-width: 1200px) {
  .img {
    max-height: 25rem;
  }
}

@media (max-width: 1000px) {
  .textContainer {
    width: 20rem;
    margin-left: 2rem;
  }

  .emphasis {
    font-size: 1rem;
  }

  .text {
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }
}

@media (max-width: 850px) {
  .textContainer {
    width: 15rem;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 0.8rem;
  }

  .emphasis {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .footnote {
    margin-top: 0.5rem;
  }

  .img {
    max-height: 15rem;
  }

  .mainContainer {
    height: auto;
    flex-direction: column;
  }
}
