.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 90vh;
  padding: 1.5rem 3rem;
  margin: .5rem 3rem 0 3rem;
  border-radius: 10px;
  background-color: rgba(185, 185, 185, 0.26);
  overflow: scroll;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: .8rem;
}

.flexContainerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data {
  margin-right: 1rem;
}

.todo {
  display: flex;
}

.bgBlack {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.date {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.addIcon {
  height: 2rem;
  width: auto;
  margin-top: .5rem;
}

.weatherIcon {
  height: 1.5rem;
  width: auto;
  margin-right: 0.5rem;
}

.locationIcon {
  height: 1.2rem;
  width: auto;
  margin-right: 0.5rem;
}

.checkboxIcon {
  width: 1rem;
  height: auto;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

@media (max-width: 1300px) {
  .bgBlack {
    font-size: 1.5rem;
  }

  .date {
    font-size: 2rem;
  }
}

@media (max-width: 1150px) {
  .mainContainer {
    margin: 1.5rem 4rem 0 4rem;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    margin: 1.5rem 2rem 0 2rem;
  }
}