.errorContainer {
  width: 80%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
  z-index: 80;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  font-weight: bold;
}