.footer {
  color: black !important;
  position: fixed;
  bottom: 0;
  padding: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(230, 228, 228, 0.822);
  border-top: 2px solid black;
}

.footerText {
  font-size: 1rem;
  font-weight: bold;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.legendItem > img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 855px) {
  .footerText {
    font-size: 0.8rem;
  }

  .legendItem > img {
    width: 1rem;
    margin-right: 0.5rem;
  }

  .legendItem {
    margin-right: 1rem;
  }
}
