.logo {
  font-family: "Inconsolata", sans-serif;
  font-size: 1.5rem;
  margin: 1.2rem;
  color: white;
  background-color: black;
  padding: 0.5rem;
}

.arrow {
  height: 5rem;
  width: auto;
}

.flexContainerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexContainerRowRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 11rem;
}

.skewedArrow {
  height: 3rem;
  width: auto;
  margin-right: 2rem;
}

.welcomeText {
  margin-left: 1rem;
}

.link {
  text-decoration: none;
  color: white;
}

/* Large Screens */
@media (min-width: 992px) and (max-width: 1200px) {}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 992px) {
  .skewedArrow {
    display: none;
  }

  .flexContainerRowRight {
    margin-right: 2rem;
  }
}

/* Small Screens */
@media (min-width: 600px) and (max-width: 768px) {
  .skewedArrow {
    display: none;
  }

  .flexContainerRowRight {
    margin-right: 2rem;
  }
}

/* Xsmall Screens */
@media (max-width: 600px) {
  .skewedArrow {
    display: none;
  }

  .flexContainerRowRight {
    margin-right: 1rem;
  }

  .logo {
    font-family: "Inconsolata", sans-serif;
    font-size: 1rem;
    margin: 0.8rem;
    color: white;
    background-color: black;
    padding: 0.3rem;
  }

  .arrow {
    height: 3rem;
    width: auto;
  }
}

@media (max-width: 400px) {
  .welcomeText {
    display: none;
  }
}